---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Bowen Jiang">
	<main>
		<header><h1>Bowen Jiang</h1></header>
		<p>
			I am an undergraduate at Carnegie Mellon University studying computer science and mathematics.
		</p>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: rgba(0, 0, 0, 0.8);
		font-size: 18px;
		line-height: 1.5;
	}
	h1 {
		font-family: 'Satoshi', sans-serif;
		font-size: 2.62rem;
		letter-spacing: -0.05rem;
		font-weight: 700;
		text-align: center;
	}
</style>
