---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	@font-face {
		font-family: 'Source Sans 3';
		src: url('/fonts/SourceSans3VF-Upright-Subset.ttf.woff2') format('woff2');
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Satoshi`';
		src: url('/fonts/Satoshi-Variable.woff2') format('woff2');
		font-style: normal;
		font-display: swap;
	}
	@font-face {
		font-family: 'Castoro';
		src: url('/fonts/Castoro-Regular.woff2') format('woff2');
		font-style: normal;
		font-weight: 400;
		font-display: swap;
	}
	@font-face {
		font-family: 'Inter Display';
		src: url('/fonts/InterDisplay-SemiBold.woff2') format('woff2');
		font-style: normal;
		font-weight: 600;
		font-display: swap;
	}
	@font-face {
		font-family: 'Inter Display';
		src: url('/fonts/InterDisplay-Bold.woff2') format('woff2');
		font-style: normal;
		font-weight: 700;
		font-display: swap;
	}
	html {
		font-family: 'Castoro', serif;
		background: #f6f5f4;
	}
</style>
